input[type="text"]{
    color:maroon;
    /* background-color: rgba(26, 26, 140, 0.464); */
    background: aqua;
}

input[type="password"]{
    background: #000;
    color: red;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

input[type="number"]{
    background: pink;
    columns: green;
}

a[href *= "youtube"]{
    /* background: red;
     */
     color: red;
}

a[href="https://mail.google.com/mail/u/0/#inbox"]{
    color: blue;
}

a[href="https://www.scaler.com/academy/mentee-dashboard/todos"]{
    color: maroon;
}

a:hover{
    color:green;
    background: coral;
}